<div class="container color-bg-dark text-light">  
  
  <div class="row">
    <div class="text-center pt-3 pb-3">
        <h1>
          <img src="../../assets/images/Icon_66-512.png" height="10%" width="10%" class="img-fluid pt-1 pr-1" alt="Responsive image">
          Você esta indo bem {{userName}}?
        </h1>      
    </div>
  </div>

  <app-dashboard-graphs></app-dashboard-graphs>

</div>