<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom ">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/DoschMedio.jpg" width="100" height="100" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMobile" aria-controls="navbarNavMobile" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavMobile">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><b>Como funciona?</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="log"><b>Qual seu peso hoje?</b></a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" routerLink="data-table"><b>Histórico</b></a>
        </li-->
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard"><b>Você está indo bem?</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="config"><b>Config</b></a>
        </li>                
      </ul>
    </div>
  </nav>
</header>

<!--header>
  <div class="container">
    <a routerLink="/" class="logo">Composição Corporal</a>
    <nav>
      <ul>
          <li><a routerLink="/">Qual seu peso hoje?</a></li>
          <li><a routerLink="/data-table">Histórico</a></li>
          <li><a routerLink="/dashboard">Você esta indo bem?</a></li>
      </ul>
    </nav>
  </div>
</header-->
