.bg-custom {
    background-color: #99bd41
}

/*header {
    background: rgb(128, 185, 52);
}

header .logo {
    font-weight: bold;
}

header nav {
    justify-self: right;
}    

header nav ul 
{
    list-style-type: none;
    margin: 0; padding: 0;
}

header nav ul li {
    float: left;
}
                
header nav ul li a {
    color: white;
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
}

header nav ul li a:hover {
    background: rgb(173, 211, 124);
}*/