<form [formGroup]="userForm" class="text-light pb-4 row" (ngSubmit)="onSubmit()" novalidate>

  <div class="row justify-content-md-center">
    <div class="form-group col-lg-12">
      <label>Nome</label>
      <input type="text" class="form-control" formControlName="nome"/>
      <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
        <div *ngIf="nome.errors.required">
          Nome é obrigatório.
        </div>
      </div>
    </div>      
  
    <div class="form-group col-lg-3">
      <label>Peso Inicial (kg)</label>
      <input type="number" step="0.1" class="form-control" formControlName="pesoInicial"/>
      <div *ngIf="pesoInicial.invalid && (pesoInicial.dirty || pesoInicial.touched)" class="alert alert-danger">
        <div *ngIf="pesoInicial.errors.required">
          O peso inicial é obrigatório.
        </div>
        <div *ngIf="pesoInicial.errors.min">
          Não é possível colocar um peso menor que 30.
        </div>
        <div *ngIf="pesoInicial.errors.max">
          Não é possível colocar um peso maior que 250.
        </div>
      </div>
    </div>

    <div class="form-group col-lg-3">
      <label>Meta de peso final (kg)</label>
      <input type="number" step="0.1" class="form-control" formControlName="pesoFinal"/>
      <div *ngIf="pesoFinal.invalid && (pesoFinal.dirty || pesoFinal.touched)" class="alert alert-danger">
        <div *ngIf="pesoFinal.errors.required">
          O peso inicial é obrigatório.
        </div>
        <div *ngIf="pesoFinal.errors.min">
          Não é possível colocar um peso menor que 30.
        </div>
        <div *ngIf="pesoFinal.errors.max">
          Não é possível colocar um peso maior que 250.
        </div>
      </div>
    </div>

    <div class="form-group col-lg-3">
      <label>% de gordura inicial</label>
      <input type="number" step="0.1" class="form-control" formControlName="porcGorduraInicial"/>
      <div *ngIf="porcGorduraInicial.invalid && (porcGorduraInicial.dirty || porcGorduraInicial.touched)" class="alert alert-danger">
        <div *ngIf="porcGorduraInicial.errors.required">
          A % de gordura inicial é obrigatória.
        </div>
        <div *ngIf="porcGorduraInicial.errors.min">
          Não é possível colocar uma % menor que 3.
        </div>
        <div *ngIf="porcGorduraInicial.errors.max">
          Não é possível colocar uma % maior que 60.
        </div>
      </div>
    </div>

    <div class="form-group col-lg-3">
      <label>Meta por semana (kg)</label>
      <input type="number" step="0.1" class="form-control" formControlName="perdaSemana"/>
      <div *ngIf="perdaSemana.invalid && (perdaSemana.dirty || perdaSemana.touched)" class="alert alert-danger">
        <div *ngIf="perdaSemana.errors.required">
          A meta da semana é obrigatória.
        </div>
        <div *ngIf="perdaSemana.errors.min">
          Não é possível colocar uma meta menor que -1.
        </div>
        <div *ngIf="perdaSemana.errors.max">
          Não é possível colocar uma meta maior que 1.
        </div>
      </div>
    </div>

    <div class="form-group col-lg-4">
      <label><b>Objetivo</b></label>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="ganhar" value="ganhar" formControlName="objetivo">
        <label class="form-check-label" for="ganhar">
          Ganhar massa magra
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="perder" value="perder" formControlName="objetivo"/>
        <label class="form-check-label" for="perder">
          Perder Gordura
        </label>
      </div>        
      <div *ngIf="objetivo.invalid" class="alert alert-danger">
        <div *ngIf="objetivo.errors.required">
          Coloque seu objetivo.
        </div>
      </div>
    </div>

    <div class="row col-lg-12 text-center">
      <button type="submit" class="btn btn-primary col-md-8 ml-auto mr-auto" [disabled]="!userForm.valid">Salvar</button>
    </div>
  </div>
</form>
