<div class="row">
  <div *ngIf="graficoGordMusc" class="col-lg-12" style="background-color:white">
    <canvas id="canvasGordMusc">{{ graficoGordMusc }}</canvas>
  </div>    
  <div *ngIf="graficoGorduraAcumulado" class="col-lg-6" style="background-color:white">
      <canvas id="canvasGorduraAcu">{{ graficoGorduraAcumulado }}</canvas>
  </div>
  <div *ngIf="graficoMusculoAcumulado" class="col-lg-6" style="background-color:white">
      <canvas id="canvasMusculoAcu">{{ graficoMusculoAcumulado }}</canvas>
  </div>
  <div *ngIf="graficoPesoAcumulado" class="col-lg-12" style="background-color:white">
      <canvas id="canvasPesoAcu">{{ graficoPesoAcumulado }}</canvas>
  </div>
</div>