<div class="text-center pt-3 pb-3 row text-center">
    <!--img src="../../assets/images/user-icon-with-checkmark-select-a-friend-vector-6742744.png" height="10%" width="10%" class="img-fluid pt-1 pr-1" alt="Responsive image"-->
    <h1>Crie ou selecione um usuário:</h1>      
    <!--img src="../../assets/images/Healthcare__medical_icons-94-512.png" height="20%" width="20%" class="img-fluid pt-1" alt="Responsive image"-->
</div>
