<div class="row text-center pt-3 pb-3">
    <h1>
      <img src="../../assets/images/Healthcare__medical_icons-94-512.png" height="10%" width="10%" class="img-fluid pt-1 pr-1" alt="Responsive image">
      Composição corporal de {{user.nome}}
    </h1>      
</div>

<form [formGroup]="compCorpForm" class="text-light pb-4" (ngSubmit)="onSubmit()" novalidate>

  <div class="row">
    <div class="form-group col-lg-4">
      <label>Data (dia/mes/ano)</label>
      <input type="date" class="form-control" formControlName="data"/>
      <div *ngIf="data.invalid && (data.dirty || data.touched)" class="alert alert-danger">
        <div *ngIf="data.errors.required">
          Data é obrigatório.
        </div>
      </div>
    </div>
    
    <div class="form-group col-lg-4">
      <label>Peso (kg)</label>
      <input type="number" step="0.1" class="form-control" formControlName="peso"/>
      <div *ngIf="peso.invalid && (peso.dirty || peso.touched)" class="alert alert-danger">
        <div *ngIf="peso.errors.required">
          Peso é obrigatório.
        </div>
        <div *ngIf="peso.errors.min">
          Não é possível colocar um peso menor que 30.
        </div>
        <div *ngIf="peso.errors.max">
          Não é possível colocar um peso maior que 250.
        </div>
      </div>
    </div>

    <div class="form-group col-lg-4">
      <label>Godrura (%)</label>
      <input type="number" step="0.1" class="form-control" formControlName="gordura"/>
      <div *ngIf="gordura.invalid && (gordura.dirty || gordura.touched)" class="alert alert-danger">
        <div *ngIf="gordura.errors.required">
          A porcentagem de gordura é obrigatória.
        </div>
        <div *ngIf="gordura.errors.min">
          Não é possível colocar uma porcentagem de gordura menor que 0.
        </div>
        <div *ngIf="gordura.errors.max">
          Não é possível colocar uma porcentagem de gordura maior que 70.
        </div>
      </div>
    </div>

    <div class="form-group col-lg-4">
      <label>Hidratação (%)</label>
      <input type="number" step="0.1" class="form-control" formControlName="hidratacao"/>
      <div *ngIf="hidratacao.invalid && (hidratacao.dirty || hidratacao.touched)" class="alert alert-danger">        
        <div *ngIf="hidratacao.errors.min">
          Não é possível colocar uma porcentagem de hidratação menor que 10.
        </div>
        <div *ngIf="hidratacao.errors.max">
          Não é possível colocar uma porcentagem de hidratação maior que 70.
        </div>
      </div>
    </div>

    <div class="form-group col-lg-4">
      <label>Musculo (%)</label>
      <input type="number" step="0.1" class="form-control" formControlName="musculo"/>
      <div *ngIf="musculo.invalid && (musculo.dirty || musculo.touched)" class="alert alert-danger">        
        <div *ngIf="musculo.errors.min">
          Não é possível colocar uma porcentagem muscular menor que 10.
        </div>
        <div *ngIf="musculo.errors.max">
          Não é possível colocar uma porcentagem muscular maior que 70.
        </div>
      </div>
    </div>

    <div class="form-group col-lg-4">
        <label>Osso (%)</label>
        <input type="number" step="0.1" class="form-control" formControlName="osso"/>
        <div *ngIf="osso.invalid && (osso.dirty || osso.touched)" class="alert alert-danger">
          <div *ngIf="osso.errors.min">
            Não é possível colocar uma porcentagem óssea menor que 1.
          </div>
          <div *ngIf="osso.errors.max">
            Não é possível colocar uma porcentagem óssea maior que 30.
          </div>
        </div>
      </div>

    <div class="row col-lg-12 text-center">
      <button type="submit" class="btn btn-primary col-md-8 ml-auto mr-auto" [disabled]="checkButtonDisabled()">Salvar</button>
    </div>
  </div>
</form>