<h2 class="text-center">Histórico de medições</h2>
<div class="mt-4 mb-4 text-center">
  <p *ngFor="let compCorp of compCorpsList">
    <b>Data:</b> {{compCorp.data}}, 
    <b>Peso:</b> {{compCorp.peso}}kg, 
    <b>Gordura:</b> {{compCorp.gordura}}%, 
    <b>Musculo:</b> {{compCorp.musculo}}%, 
    <b>Osso:</b> {{compCorp.osso}}%,
    <b>Hidratação:</b> {{compCorp.hidratacao}}%.
  </p>
</div>

<canvas id="myChart" width="400" height="400"></canvas>


