.bg-custom {
    background-color: #99bd41
}

a:link {
    color: #1A6D08;
  }
  
  /* visited link */
  a:visited {
    color: #827F0A;
  }
  
  /* mouse over link */
  a:hover {
    color: #EDEA73;
  }
  
  /* selected link */
  a:active {
    color: #DBF49F;
  }