body, html {
    height: 100%;
    margin: 0 auto;
    background-color: #505050
}

.color-bg-dark {color: #505050}

.color-primary-0 { color: #99BD41 }	/* Main Primary color */
.color-primary-1 { color: #DBF49F }
.color-primary-2 { color: #BEDF6C }
.color-primary-3 { color: #7CA024 }
.color-primary-4 { color: #5A7B09 }

.color-secondary-1-0 { color: #4DA73A }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #9FDF91 }
.color-secondary-1-2 { color: #71C660 }
.color-secondary-1-3 { color: #338E20 }
.color-secondary-1-4 { color: #1A6D08 }

.color-secondary-2-0 { color: #C9C545 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFDA6 }
.color-secondary-2-2 { color: #EDEA73 }
.color-secondary-2-3 { color: #AAA626 }
.color-secondary-2-4 { color: #827F0A }

/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;
}

.container > a {
    color: white;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}*/