<div class="mb-4">
  <div class="text-center pt-3 pb-3 row text-center">
      <h2>Selecione um usuário:</h2>      
      <!--img src="../../assets/images/Healthcare__medical_icons-94-512.png" height="20%" width="20%" class="img-fluid pt-1" alt="Responsive image"-->
  </div>
    
  <div class="card text-dark col-lg-4 float-left" *ngFor="let user of users | async">
    <div class="card-body">
      <h4 class="card-title">{{user.nome}}</h4>
      <p><b>Objetivo: </b>{{user.objetivo}}</p>
      <p><b>Peso inicial: </b>{{user.pesoInicial}}</p>
      <p><b>Peso final: </b>{{user.pesoFinal}}</p>      
      <p><b>% de gordura incial: </b>{{user.porcGorduraInicial}}</p>
      <p><b>Meta por semana: </b>{{user.perdaSemana}}</p>
      
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" (click)="edit(user, user.key)">Selecionar</button>
      <button type="button" class="btn btn-danger ml-2" (click)="delete(user.key)">Excluir</button>
    </div>
  </div>
</div>